@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-weight: 700;
    font-weight: 800;
    font-style: normal;
    src:local("/fonts/rubik/")
    url("/file html/fonts/rubik/rubik-700.woff2") format("woff2")
    url("/file html/fonts/rubik/rubik-400.woff2")format("woff2")
    url("/file html/fonts/rubik/rubik-800.woff2")format("woff2")
}
@font-face {
    font-family: "Raleway";
    font-weight: 800;
    src:local("/fonts/rubik/")
    url("/fonts/raleway/raleway-800.woff2") format("woff2");
}
.categories {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
width: 100%;
}
.category-list {
    margin-left:-15px;
    margin-right: -15px;
    }
    .category-item {
    padding-right:15px;
    padding-left:15px;
    }
.category-item ,li{
 background: #FFE17F;
}

