@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-weight: 700;
    font-weight: 800;
    font-style: normal;
    src:local("/fonts/rubik/")
    url("/file html/fonts/rubik/rubik-700.woff2") format("woff2")
    url("/file html/fonts/rubik/rubik-400.woff2")format("woff2")
    url("/file html/fonts/rubik/rubik-800.woff2")format("woff2")
}
@font-face {
    font-family: "Raleway";
    font-weight: 800;
    src:local("/fonts/rubik/")
    url("/fonts/raleway/raleway-800.woff2") format("woff2");
}
.menu-item{
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18.96px;
    color: black;
}
.search-item{
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    opacity: 30%;
}
.navigation_item{
    font-family:"Raleway" ;
    font-weight:800;
    font-style: normal;
    font-size: 18px;
    color: black;
}
.discription{
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000000;
}
.header-logo{
    background-color:#FFE17F;
    width: 1160px;
    height: 100px;
    position: absolute;
}
.advantages{
    background-color: #F0F0F0;
}
.detail{
    position: absolute;
    width: 220px;
    height: 20px;
    left: 740px;
    top: 550px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    /* basic/black */
    color: #000000;
}

body{
    position: relative;
    width: 1440px;
    height: 3208px;
    background-color: #FFFFFF;
}
.link{

    width: 220px;
    height: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    /* basic/black */
    color: #000000;


}
.delivery-block{
    width: 1440px;
    height: 288px;
    left: 0px;
    top: 1242px;
}
.block-mailing{
    width: 1440px;
    height: 421px;
    left: 0px;
    top: 2466px;

    /* basic/light */
    background: #F0F0F0;;
}
.mailing{
    right: 51.39%;
    top: 79.21%;
    bottom: 17.05%;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;

    /* or 100% */

    /* basic/black */
    color: #000000;
}
description-text{
    position: absolute;
    width: 560px;
    height: 99px;
    left: 740px;
    top: 2552px;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    /* or 167% */

    /* basic/dark */
    color: #444444;
}
button{
    position: absolute;
    width: 270px;
    height: 59px;


    /* basic/black */

    box-sizing: border-box;
    position: absolute;
    width: 279px;
    height: 23px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    text-transform: uppercase;

    /* basic/black */
    color: #000000;
}
.block-link{
    width: 160px;
    height: 60px;


    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;

    /* or 133% */
    letter-spacing: -0.02em;

    /* basic/black */
    color: #000000;
}
.numb{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}
.description-production{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}
.advantages-item{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}
.advantages-title{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}
.advantages-description{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
footer{

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* basic/dark */
    background: #444444;
}
.service,a{

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    /* basic/white */
    color: #FFFFFF;
}
.page-footer-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

    /* or 187% */
    text-align: right;

    /* basic/white */
    color: #FFFFFF;
}
.category-product{
    background: #FFE17F;
    padding: 30px;
    width: 160px;
    height: 160px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  
}
.products {
    display: flex;
    justify-content: space-between;
}
.product-item{
    display: flex;
    justify-content: space-between;
}
.block-link{
width: 160px;
height: 160px;
padding: 40px;
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #000000;
}

